@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;

 background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 
#container{
  margin: auto 0;
}
 
 header{
 width: 100%;
 }
 figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
 }
 
 #fotoPerfil{
  width: 80%;
  margin:20px auto;
  border-radius: 50%;
 }
 h1{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
 }
 #nav{
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
 }
  
  li{
   margin-right: 10px;
   display: inline;
  }
  #cv{
    cursor: pointer;
    border: white 3px solid;
    width: 90%;
    margin: 20px ;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  #cv img{
    width: 50px;
    margin: 0;
    justify-content: left;
    position: absolute;
  }
  #cv #cursando{
    display: flex;
    justify-content: center;
   
  }
  #cursando{
    font-weight: bold;
    color: white;
  }
  #cv:hover{
    font-size: 20px;
    transition: 0.5s;
  }
  article{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article h2{
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  article p{
    text-align: center;
    font-size: 1.0em;
    font-weight: 600;
    color: white;
  }
  
  #miDiv a{
    display: none;
  }
  #miDiv button{
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: white 3px solid;
    width: 90%;
    margin: 20px ;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

@media screen and (min-width: 600px){
  body{
    width: 100%;
  }
  #contenedor{
    width: 50%;
    margin: auto;
    
  }
}