/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  /* Estilos para la imagen del perfil */
  header img {
    border-radius: 50%;
    margin-right: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilos para la navegación */
  nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  article p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  section {
    margin-top: 2rem;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Estilos para la lista de proyectos */
  dl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  dt {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  dd {
    margin: 0;
  }
  
  /* Estilos para la tabla de contacto */
  table {
    border-collapse: collapse;
    margin-top: 2rem;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: #f1f1f1;
  }
  
  th:first-child,
  td:first-child {
    width: 10%;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1rem;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }